@import './variables';

* {
    box-sizing: border-box;
    // font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: $secondary;

    &:hover {
        color: $warning;
    }
}

hr {
    color: pink;
}

.hd {
  
    &__logo{
        width: 110px;
        height: 100px;

        img{
            width: inherit;
            height: inherit;
        }
    }
}

main {
    background: linear-gradient(45deg, $space, $secondary);
}

footer {
    background: $dark;
    height: 18rem;
    color: white;
    
    .gotop {
        text-align: center;
        background: $dark2;
    }
}

@mixin bg-used {
    background: url(../assets/about-img.jpg) center center no-repeat;
    background-size: fixed;
    background-attachment: fixed;
    padding: 0;
}


.about__content {
    @include bg-used;
    height: 70vh;
}

.contact__content {
    @include bg-used;
    height: auto;
}

.content {
    background-color: rgba(63, 4, 48, 0.589); /* opacidad del contenido */
    opacity: 1;
}

.aside-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: $space;
    margin: 0;
    padding: 0;
    z-index: 100;
    transform: translateX(100%);
}