@import './variables';

* {
    box-sizing: border-box;
    // font-size: 62.5%;
}

a {
    text-decoration: none;
    color: $secondary;

    &:hover {
        color: $warning;
    }
}


.hd {
  
    &__logo{
        width: 130px;
        height: 100px;

        img{
            width: inherit;
            height: inherit;
        }
    }
}

main {
    background: linear-gradient(45deg, $space, $secondary);
}

// .coru {
//     width: 200px;
//     height: 350px;
// }

// .customc {
//     width: 200px;
//     height: 350px;
    
//     img{
//         width: inherit;
//         height: inherit;
//         background-size: cover;
//     }
// }


footer {
    background: $dark;
    height: 15rem;
    color: white;
    
    .gotop {
        text-align: center;
        background: $dark2;
    }
}